header {
  position: fixed;
  width: 100%;
  height: 10%;
  background-color: #a3aa7d;
  font-family: "Dongle", sans-serif;
  border-radius: 20px;
  z-index: 100;
}

header .header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header--container h1 {
  margin-left: 30px;
  color: #ffff;
  font-size: 30px;
}

.new-cute-form {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100vh;
  margin-top: 8px;
  background-color: #a9c4df;
  z-index: 100;
}

.new-cute-form__wraaper {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}
input {
  outline: none;
}

#cute-name {
  margin-left: 5px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

#cute-tag {
  margin-left: 5px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
}

#cute-category {
  width: 150px;
  height: 35px;
  border-radius: 4px;
  outline: 0 none;
}

#cute-category option {
  background: black;
  color: #fff;
  padding: 3px 0;
}

option {
  outline: none;
}

.submit-add-cute {
  background-color: #a3aa7d;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  width: 100px;
  height: 40px;

  font-size: 20px;
}

.close-add-cute {
  background-color: #eb8787;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  width: 50px;
  height: 40px;

  font-size: 20px;
}

.close-add-cute:hover {
  background-color: #ed5d5d;
}

.nav--icon {
  margin-right: 30px;
  color: #ffc585;
}

.nav--icon:hover .right--category__list {
  display: block;
}

.right--category__list {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 100vh;
  margin-top: 8px;
  border-radius: 10px;
  color: #1a275a;
  background-color: #a9c4df;
  font-size: 30px;
}

.right--category__list li:hover {
  color: white;
  z-index: 1000;
}

.wrapper {
  display: flex;
}

.nav--left {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 200px;
  background-color: #fcd9a2;
  width: 100vw;

  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 17px;
  z-index: 100;
}

.nav--left .nav--left__container {
  display: flex;
  justify-content: space-around;
}

.nav--left__container input.active {
  color: white;
  background-color: #a3aa7d;
}

.nav--left__container input {
  display: inline-block;
  border: white 1px solid;
  border-radius: 10px;
  background-color: white;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  list-style-type: none;
}

.nav--left__container input:hover {
  display: inline-block;
  color: white;
  background-color: #a3aa7d;
  text-align: start;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
}

.nav--left ul {
  margin: 0 0 10px 10px;
}

.nav--left h3 {
  padding: 10px;
  background-color: #d98a82;
  color: azure;
  text-align: center;
}

.nav--left i {
  padding: 5px;
  border: white 1px solid;
  border-radius: 100px;
  background-color: white;
  font-size: 15px;
}

/* 태그 부분 */
.nav--tag__container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
  gap: 20px;
}

.nav--tag__wrapper {
  display: flex;
  justify-content: space-around;
}

#text--all {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #a3aa7d;
  border-radius: 10px;
  text-align: start;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  display: none;
}

#text--dog {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #a3aa7d;
  border-radius: 10px;
  text-align: start;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  display: none;
}

#text--cat {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #a3aa7d;
  border-radius: 10px;
  text-align: start;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  display: none;
}

#text--etc {
  width: 80px;
  height: 30px;
  color: white;
  background-color: #a3aa7d;
  border-radius: 10px;
  text-align: start;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: 20px;
  display: none;
}

/* 카드섹션 */
.card--section {
  width: 100%;
  margin-top: 100px;
  overflow-x: hidden;
}
.card--list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
  justify-content: center;
}

.card--list .card--inner {
  max-width: 230px;
  width: 100%;
  margin: 30px 50px;
  border: #b8b19a 5px solid;
  border-radius: 20px;
  background-color: rgba(249, 255, 247, 0.889);
}

.newCard {
  max-width: 230px;
  width: 100%;
  margin: 30px 50px;
  border: #b8b19a 5px solid;
  border-radius: 20px;
  background-color: rgba(249, 255, 247, 0.889);
}

.newCard h3 {
  display: inline-block;
  align-items: center;
  border: #b8b19a 2px solid;
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 5px;
  background-color: #b8b19a;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: medium;
}

.newCard img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  border: #c8d9b0 5px solid;
  border-radius: 100px;
}

.newCard p {
  height: 20px;
  margin: 15px 0px;
  color: rgb(126, 120, 120);
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  font-size: 14px;
  text-align: center;
}

@media (max-width: 700px) {
  .card--section {
    margin-left: -50px;
    width: 700px;
  }

  .dog + .cat + .etc {
    display: inline-block;
  }

  .card--list .card--inner {
    max-width: 100%;
    width: 100%;
  }
}
.card--inner h3 {
  display: inline-block;
  align-items: center;
  border: #b8b19a 2px solid;
  border-radius: 10px;
  margin: 10px 0 0 0;
  padding: 5px;
  background-color: #b8b19a;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-size: medium;
}

.card--inner img {
  display: block;
  width: 150px;
  height: 150px;
  margin: auto;
  border: #c8d9b0 5px solid;
  border-radius: 100px;
}

.card--inner .hashtag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hashtag p {
  height: 20px;

  margin: 15px 0px;
  color: rgb(126, 120, 120);
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: 200;
  font-size: 14px;
}

.hashtag button {
  width: 25px;
  height: 25px;
  border: #d98a82 3px solid;
  border-radius: 100px;
  background-color: #d98a82;
  color: white;
  text-align: center;
}

.card--inner__footer {
  margin: 0 10px 5px 0;
  color: #ffdddd;
  text-align: end;
  font-size: 20px;
}

.card--inner__footer:hover {
  color: #d98a82;
}

/*모달*/

.card {
  position: relative;
}

.modal {
  display: none;
  position: absolute;
  z-index: 1;
  left: 50px;
  top: 142px;
  width: 246px;
  height: 200px;
  overflow: auto;
}

.showMore.active {
  background-color: #fefefe;
  color: #d98a82;
}

.modal-content {
  background-color: #fefefe7f;
  margin: 10% auto;
  padding: 20px;
  width: 80%;
  max-width: 600px;
}

.close {
  color: #d98a82;
  background-color: #fefefe;
  border: none;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #d85243;
  text-decoration: none;
  cursor: pointer;
}
